apiVersion: v1
kind: ConfigMap
metadata:
  name: env
  namespace: p7
data:
  # timezone
  TZ: 'Europe/Copenhagen'

  # urls
  AUTH_URL: 'https://swp7.dpdns.org' # 'http://localhost'
  AUTH_URL_INTERNAL: 'http://frontend:3000'
  NEXTAUTH_URL: 'https://swp7.dpdns.org' # 'http://localhost'
  NEXTAUTH_URL_INTERNAL: 'http://frontend:3000'
  FRONTEND_BASE: 'http://frontend:3000'
  BACKEND_BASE: 'http://backend:8000'
  
  # envs for django
  DJANGO_DEBUG: 'False'
  DJANGO_SECRET_KEY: 'changeme'
  PYTHONDONTWRITEBYTECODE: '1'
  PYTHONUNBUFFERED: '1'

  # envs for nextjs
  AUTH_TRUST_HOST: 'true'
  NEXTAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: 'true'
  NODE_ENV: 'production'

  # envs for postgres
  DATABASE_ENGINE: 'django.db.backends.postgresql'
  DATABASE_HOST: 'changeme'
  DATABASE_PORT: '5432'

  # extra envs
  DEBUG: 'False'

---
apiVersion: v1
kind: Secret
metadata:
  name: secret
  namespace: p7
type: Opaque
stringData:
  # oauth credentials
  GOOGLE_CLIENT_ID: 'changeme'
  GOOGLE_CLIENT_SECRET: 'changeme'
  DROPBOX_CLIENT_ID: 'changeme'
  DROPBOX_CLIENT_SECRET: 'changeme'
  MICROSOFT_CLIENT_ID: 'changeme'
  MICROSOFT_CLIENT_SECRET: 'changeme'
  MICROSOFT_CLIENT_ISSUER: 'changeme'

  # secrets for django
  DJANGO_SECRET_KEY: 'changeme'

  # secrets for nextjs
  NEXTAUTH_SECRET: 'changeme'

  # secrets for postgres
  DATABASE_NAME: 'p7'
  DATABASE_USERNAME: 'changeme'
  DATABASE_PASSWORD: 'changeme'

  # extra secrets
  INTERNAL_API_KEY: 'changeme'

---
apiVersion: v1
kind: Secret
metadata:
  name: ghcr-login-secret
  namespace: p7
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: changeme

---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-token
  namespace: p7
type: Opaque
stringData:
  token: "changeme"