apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: p7
spec:
  selector: { 
    app: frontend 
  }
  ports:
    - port: 3000
      targetPort: 3000

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: p7
spec:
  replicas: 2
  selector:
    matchLabels: { 
      app: frontend 
    }
  template:
    metadata:
      labels: { 
        app: frontend 
      }
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      dnsConfig:
        nameservers:
          - 1.1.1.1
          - 8.8.8.8
      hostNetwork: true
      imagePullSecrets:
        - name: ghcr-login-secret
      nodeSelector:
        node-role: master
      containers:
        - name: frontend
          image: ghcr.io/aau-sw-p7/p7-frontend-prod:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: env
            - secretRef:
                name: secret
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"