apiVersion: apps/v1
kind: Deployment
metadata:
  name: tunnel
  namespace: p7
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      dnsConfig:
        nameservers:
          - 1.1.1.1
          - 8.8.8.8
      hostNetwork: true
      nodeSelector:
        node-role: master
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args: [ "tunnel", "--no-autoupdate", "run" ]
        env:
          - name: TUNNEL_TOKEN
            valueFrom:
              secretKeyRef:
                name: cloudflared-token
                key: token
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"