apiVersion: v1
kind: ServiceAccount
metadata:
  name: portainer-sa
  namespace: p7
  
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: portainer-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: portainer-sa
    namespace: p7

---
apiVersion: v1
kind: Service
metadata:
  name: portainer
  namespace: p7
spec:
  type: NodePort
  selector: { 
    app: portainer 
  }
  ports:
    - name: https
      port: 9443
      targetPort: 9443

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  namespace: p7
spec:
  replicas: 1
  selector:
    matchLabels: { 
      app: portainer 
    }
  template:
    metadata:
      labels: { 
        app: portainer 
      }
    spec:
      serviceAccountName: portainer-sa
      nodeSelector:
        node-role: master
      containers:
        - name: portainer
          image: portainer/portainer-ce:latest
          ports:
            - containerPort: 9443
              name: https
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: portainer-data
